data/*.zip
data/content/
data/cord-v1/
data/images/
data/labels/
data/naver-clova-ix-det/
data/naver-clova-ix-rec/
utils/EAST/pths/
utils/CRNN/results/
utils/CRNN/pths/
utils/CRNN/results/
utils/__pycache__/
*.__pycache__/
*.pths/
utils/EAST/__pycache__/
utils/CRNN/expr/
utils/EAST/results/
results/